.our-customers {
    margin: 58px 0px;
    position: relative;

    .our-customers-header {
        display: flex;
        justify-content: space-between;

        h3 {
            color: #33363F;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 44px; 
        }

        .rectangle {
            width: 550px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap-reverse;
            flex-direction: column;


            .rectangle-top {
                width: 288px;
                height: 12px;
                border-radius: 8px;
                background: #FFE450;
                margin-bottom: 7px;
                order: 1;
            }

            .rectangle-bottom {
                width: 546px;
                height: 12px;
                border-radius: 8px;
                background: #5AAF32;
                order: 2;
            }
        }
    }

    .our-customers-main {
    
        margin: 40px 100px;
        

        .logo-customers {
            margin: 0 50px;
            display: flex;
            justify-content: space-between;

            img {
                width: 150px;
                height: 75px;
                background-size: 50% cover;
                background-position: center center;
                background-repeat: no-repeat;
                filter: grayscale(100%);
            }
        }
    }
}