.about-us {
  height: 335px;
  margin: 58px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.about-us-container {
  display: flex;
  &--image {
    object-fit: cover;
    width: 100%;
  }

  &--opacity-layer {
    background-color: #33890a;
    opacity: 0.9;
    position: absolute;
    width: 100%;
  }
}

.about-us-size {
  height: 335px;
  width: calc(100% - 320px);
}

.border-radius {
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
}

.carousel-container {
  width: calc(100% - 320px);
  position: absolute;
  align-items: center;

  &--title {
    display: flex;
    justify-content: center;
    color: white;
    text-align: 'center';
    font-size: 32px;
    line-height: 64px;
    font-weight: 600;
  }

  &--description {
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: 100;
    line-height: 24px;
  }
}

.carousel-content-padding {
  padding: 0px 42px 42px 42px;
}

.custom-carousel {
  .slick-dots li {
    width: 0px !important;
    margin-left: 16px !important;
    color: transparent;
  }

  .slick-dots li button {
    background-color: red;
    vertical-align: 0;
    margin: 0;
  }

  .slick-dots li button::after {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }

  .slick-dots li.slick-active button::after {
    width: 12px;
    height: 12px;
    background-color: #ffe450;
  }
}
