:root {
    --bg-header-color: #1f2959;
    --bg-row-table-color: #f2f2f2;
    --primary-color: #33890A;
    --secondary-color: #5AAF32;
    --border-disabled-btn-color: #CBCBCB;
    --bg-disabled-btn-color: #ECEDEC;
    --error-color: #d32f2f;
    --padding-large: 35px;
    --padding-medium: 22px;
    --padding-small: 10px;
    --drawer-open-width: 224px;
    --drawer-close-width: 47px;
    --column-blue-color: #376092;
    --header-height: 55px;
    --root-z-index: 9999;
    --main-z-index: 7777;
    --sub-z-index: 5555;
    --sub-1-z-index: 2222;
    --table-gutter: 1px;
    --header-font-size: 22px; 
    --space-xxl: 88px;
    --space-xl: 64px;
    --space-l: 40px;
    --space-m: 24px;
    --space-s: 16px;
    --space-xs: 8px;
    --space-dropdown: 200px;
    --fs-text-primary: 16px;
    --fs-text-mobile: 14px;
    --fs-header-primary: 34px;
    --fs-header-mobile: 28px;
  }
  