:root {
  --bg-header-color: #1f2959;
  --bg-row-table-color: #f2f2f2;
  --primary-color: #33890a;
  --secondary-color: #5aaf32;
  --bg-color-btn-default: #ffffff;
  --bg-color-btn-default-hover: #5aaf32;
  --bg-color-btn-primary: #5aaf32;
  --bg-color-btn-primary-hover: #33890a;
  --bg-color-white: #ffffff;
  --font-color-black: #000000;
  --font-color-white: #ffffff;
  --fs-text-primary: 16px;
  --fs-text-mobile: 14px;
  --fs-header-primary: 34px;
  --fs-header-mobile: 28px;
  --font-color-black-2: #33363f;
  --font-color-black-3: #5e5b5b;
  --font-color-black-4: #8E908D; 
  --fs-header-primary-2: 30px;
  --fs-text-primary-2: 20px;
  --bg-row-table-color-2: #F3F3F3;
  --bg-color-btn-default-2: #E6EA37;
  --bg-color-btn-default-active: #B8BC0A;
  --bg-color-rectangle-top: #FFE450;
  
}
