:root {
  --bg-header-color: #1f2959;
  --bg-row-table-color: #f2f2f2;
  --primary-color: #33890a;
  --secondary-color: #5aaf32;
  --bg-color-btn-default: #ffffff;
  --bg-color-btn-default-hover: #5aaf32;
  --bg-color-btn-primary: #5aaf32;
  --bg-color-btn-primary-hover: #33890a;
  --bg-color-white: #ffffff;
  --font-color-black: #000000;
  --font-color-white: #ffffff;
  --fs-text-primary: 16px;
  --fs-text-primary-m: 18px;
  --fs-title-primary: 20px;
  --fs-text-mobile: 14px;
  --fs-header-primary: 34px;
  --fs-header-mobile: 28px;
  --padding-small: 10px;
  --padding-small-xs: 11px;
  --padding-small-s: 12px;
  --padding-small-m: 13px;
  --padding-medium: 22px;

}
