@import "@/styles/mixins.scss";

.ant-carousel {
  .carousel-list-product-catalog-page {
    .slick-prev {
      top: 50%;
      z-index: 1000;
      left: 1%;
      background: red;
    }

    .slick-next {
      top: 50%;
      z-index: 1000;
      right: 1%;
      background: red;
    }

    img {
      height: 694px;
      object-fit: cover;
      width: 100%;

      @media (max-width: $sm-max-width) {
        height: 240px;
      }
    }
  }
}

.wrapper-list-product-catalog {
  padding: 24px 0;

  .wrapper-pagination-list-product-catalog {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
  }
}
