@import '@/styles/mixins.scss';

.career-banner {
  :global(.ant-image) {
    width: 100%;
    .image-career-banner {
      margin-top: 86px;
      margin-bottom: 80px;
      height: 598px;
      width: 100%;
      // object-fit: cover;
      @media (max-width: $sm-min-width) {
        height: 450px;
        margin-bottom: 60px;
      }
      @media (max-width: $xs-max-width-large) {
        height: 400px;
        margin-bottom: 40px;
      }
      @media (max-width: $xs-max-width-medium) {
        margin-bottom: 30px;
        height: 350px;
      }
      @media (max-width: $xs-max-width-small) {
        margin-bottom: 25px;
        height: 300px;
      }
    }
  }
}
.content-career-body {
  position: relative;
  margin-bottom: 80px;
  @media (max-width: $sm-min-width) {
    margin-bottom: 60px;
  }
  @media (max-width: $xs-max-width-large) {
    margin-bottom: 40px;
  }
  @media (max-width: $xs-max-width-medium) {
    margin-bottom: 30px;
  }
  @media (max-width: $xs-max-width-small) {
    margin-bottom: 25px;
  }
  .text-career-body-header {
    position: absolute;
    z-index: 90;
    top: 25%;
    width: 130%;
    height: 50%;
    background: white;
    border-radius: 30px 0;
    box-shadow: 0 0 20px #aaa;
    .text-child-career-body-header {
      margin: 6% 12%;
      height: 100%;
      @media (max-width: $xl-min-width) {
        margin: 2.5% 12%;
      }
      @media (max-width: $sm-min-width) {
        margin: 2.5% 12%;
      }
      @media (max-width: $xs-max-width-large) {
        margin: 0 12%;
      }
      @media (max-width: $xs-max-width-medium) {
        margin: 0 10%;
      }
      h3 {
        text-align: center;
        margin-bottom: 7%;
        font-size: var(--fs-header-mobile);
        font-weight: bold;
        @media (max-width: $sm-min-width) {
          font-size: 20px;
        }
        @media (max-width: $xs-max-width-large) {
          font-size: 18px;
        }
        @media (max-width: $xs-max-width-medium) {
          font-size: 15px;
          margin-bottom: 4px;
        }
        @media (max-width: $xs-max-width-small) {
          font-size: 11px;
          margin-bottom: 3px;
        }
      }
      p {
        font-size: 20px;
        -webkit-line-clamp: 4;
        text-overflow: ellipsis;
        @media (max-width: $sm-min-width) {
          font-size: 18px;
        }
        @media (max-width: $xs-max-width-large) {
          font-size: 16px;
        }
        @media (max-width: $xs-max-width-medium) {
          font-size: 13px;
        }
        @media (max-width: $xs-max-width-small) {
          font-size: 10px;
        }
      }
      .btn-apply {
        width: 100px;
        border-radius: 40%;
        font-size: 18px;
        padding: 16px 16px 18px 25px;
        top: 40%;
        span {
          @media (max-width: $xs-max-width-large) {
            margin-left: -5.5px;
          }
        }
        @media (max-width: $sm-min-width) {
          font-size: 12px;
          width: 72px;
          padding: 12px 16px 12px 20px;
          top: 36%;
        }
        @media (max-width: $xs-max-width-large) {
          font-size: 8px;
          width: 35px;
          height: 19px;
          padding: 0px 0px 0px 11px;
          top: 30%;
        }
        @media (max-width: $xs-max-width-medium) {
          font-size: 8px;
          width: 37px;
          padding: 1px 0px 0px 12px;
          top: 33%;
        }
        @media (max-width: $xs-max-width-small) {
          font-size: 6px;
          width: 31px;
          height: 15px;
          padding: 0px 0px 0px 12px;
          top: 42%;
        }
      }
    }
  }

  :global(.ant-image) {
    width: 100%;
    .image-career-body-header {
      border-radius: 30px;
      height: 100%;
    }
  }

  .text-career-body-center {
    position: absolute;
    z-index: 90;
    top: 25%;
    right: 0;
    width: 130%;
    height: 50%;
    background: white;
    border-radius: 30px 0;
    box-shadow: 0 0 20px #aaa;
    .text-child-career-body-center {
      margin: 6% 12%;
      height: 100%;
      @media (max-width: $xl-min-width) {
        margin: 2.5% 12%;
      }
      @media (max-width: $sm-min-width) {
        margin: 2.5% 12%;
      }
      @media (max-width: $xs-max-width-large) {
        margin: 0 12%;
      }
      @media (max-width: $xs-max-width-medium) {
        margin: 0 10%;
      }
      h3 {
        text-align: center;
        margin-bottom: 7%;
        font-size: 28px;
        font-weight: bold;
        @media (max-width: $sm-min-width) {
          font-size: 20px;
        }
        @media (max-width: $xs-max-width-large) {
          font-size: 18px;
        }
        @media (max-width: $xs-max-width-medium) {
          font-size: 15px;
          margin-bottom: 4px;
        }
        @media (max-width: $xs-max-width-small) {
          font-size: 11px;
          margin-bottom: 3px;
        }
      }
      p {
        font-size: 20px;
        -webkit-line-clamp: 4;
        text-overflow: ellipsis;
        @media (max-width: $sm-min-width) {
          font-size: 18px;
        }
        @media (max-width: $xs-max-width-large) {
          font-size: 16px;
        }
        @media (max-width: $xs-max-width-medium) {
          font-size: 13px;
        }
        @media (max-width: $xs-max-width-small) {
          font-size: 10px;
        }
      }
      .btn-apply {
        width: 100px;
        border-radius: 40%;
        font-size: 18px;
        padding: 16px 16px 18px 25px;
        top: 40%;
        span {
          @media (max-width: $xs-max-width-large) {
            margin-left: -5.5px;
          }
        }
        @media (max-width: $sm-min-width) {
          font-size: 12px;
          width: 72px;
          padding: 12px 16px 12px 20px;
          top: 36%;
        }
        @media (max-width: $xs-max-width-large) {
          font-size: 8px;
          width: 35px;
          height: 19px;
          padding: 0px 0px 0px 11px;
          top: 30%;
        }
        @media (max-width: $xs-max-width-medium) {
          font-size: 8px;
          width: 37px;
          padding: 1px 0px 0px 12px;
          top: 33%;
        }
        @media (max-width: $xs-max-width-small) {
          font-size: 6px;
          width: 31px;
          height: 15px;
          padding: 0px 0px 0px 12px;
          top: 42%;
        }
      }
    }
  }

  :global(.ant-image) {
    width: 100%;
    .image-career-body-center {
      border-radius: 30px;
      height: 100%;
    }
  }
}

.footer-modal {
  .btn-apply {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 27%;
    left: 73%;
    font-size: 100%;
    @media (max-width: $xs-max-width-large) {
      padding: 8px;
      font-size: 90%;
    }
    @media (max-width: $xs-max-width-medium) {
      padding: 4px;
      font-size: 80%;
    }
    @media (max-width: $xs-max-width-small) {
      padding: 2px;
      font-size: 75%;
    }
    svg {
      width: 20px;
      @media (max-width: $xs-max-width-large) {
      }
    }
  }
}
.input-form {
  border-radius: 20px;
  border-color: var(--secondary-color);
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px var(--secondary-color(87, 168, 233, 0.2));
  box-shadow: 0 0 0 2px var(--secondary-color(87, 168, 233, 0.2));
}
.input-message-form {
  height: 70px;
  border-radius: 20px;
  border-color: var(--secondary-color);
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px var(--secondary-color(87, 168, 233, 0.2));
  box-shadow: 0 0 0 2px var(--secondary-color(87, 168, 233, 0.2));
}
