@import '@/styles/mixins.scss';

.work-items-card {
  margin-top: 140px;
  position: relative;
  width: 100%;

  .work-item-container {
    display: flex;
    flex-direction: column;
    .box-item {
      border-radius: 28px;
      background: var(--bg-color-white);
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-bottom: 45px;
      padding: 30px 34px;

      :global(.ant-image) {
        width: 100%;
        height: 284px;
        .image-left {
          width: 88%;
          height: 100%;
          border-radius: 18px;
          object-fit: cover;
        }
      }

      .box-item-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        h4 {
          color: var(--font-color-black-2);
          font-size: var(--fs-title-2);
          font-style: normal;
          font-weight: 700;
          line-height: 34px;
        }
        h5 {
          color: var(--font-color-black-3);
          font-size: var(--fs-1);
          font-style: normal;
          font-weight: 300;
          line-height: 28px;
          height: 84px;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 3;
        }
        .button-card {
          display: flex;
          flex-direction: row-reverse;
          .outline-btn {
            padding: 20px 40px;
            border-radius: 12px;
            border: 2px solid var(--bg-color-btn-primary);
            background: var(--bg-color-white);
            font-size: var(--fs-text-primary);
            color: #33363f;
            display: flex;
            align-content: space-around;
            justify-content: space-around;
            flex-wrap: wrap;

            &:hover {
              background-color: var(--bg-color-btn-default-hover);
              color: var(--font-color-white);
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $md-max-width) {
  .work-items-card {
    margin-top: 120px;
    .work-item-container {
      .box-item {
        padding: 18px 22px;
        margin-bottom: 20px;

        :global(.ant-image) {
          height: 224px;
        }
        .box-item-content {
          h4{
            font-size: var(--fs-title-3);
          }
          .button-card {
            .outline-btn {
              padding: 18px 40px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $sm-max-width) {
  .work-items-card {
    .work-item-container {
      .box-item {
        padding: 14px 18px;
        :global(.ant-image) {
          height: 176px;
          .image-left {
            width: 100%;
          }
        }
        .box-item-content {
          h4 {
            margin-top: 10px;
          }
          h5 {
            margin: 10px 0;
          }
          .button-card {
            .outline-btn {
              font-size: var(--fs-text-mobile);
              padding: 14px 34px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $xs-max-width) {
  .work-items-card {
    .work-item-container {
      .box-item {
        padding: 12px 16px;
        :global(.ant-image) {
          .image-left {
            width: 100%;
          }
        }
        .box-item-content{
          h5{
            font-size: var(--fs-3);
          }
        }
      }
    }
  }
}
