.wrapper-section {
  margin-top: 32px;
  margin-bottom: 32px;

  .wrapper-section-title {
    text-transform: uppercase;
    color: #066156;
    font-size: 24px;
    margin-bottom: 24px;
    &,
    .title-center {
      text-align: center;
    }
  }
}
