.intro-container {
    background-color: #ecedec;
    margin-top: 86px;

    .intro-main {
        height: 590px;
        display: flex;
        justify-content: space-between;

        .intro-left {
            float: left;
            padding-left: 91px;
            margin-top: 138px;
            width: 690px;

            h3 {
                font-size: 40px;
                color: #414241;
                font-style: normal;
                font-weight: 700;
                line-height: 44px;
            }
            .intro-detail {
            margin-top: 45px;
            margin-bottom: 41px;
        
                h6 {
                    font-size: 20px;
                    color: #8e908d;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    width: 525px;
                }
            }

            :global(.ant-btn ant-btn-default ant-btn-lg) {
                width: 277px;
                height: 68px;
                border-radius: 24px;
                padding: 0px 18px;
            }
        }

        .intro-right {
             margin-top: 64px;
        }
    }
}