.contact-card {
    height: 700px;
    margin: 58px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-container {
    display: flex;
    width: 100%;

    &--image {
    object-fit: cover;
    width: 100%;
    }

    &--opacity-layer {
        background-color: #33890a;
        opacity: 0.9;
        position: absolute;
        width: 100%;
    }
}
.contact-size {
    height: 700px;
    width: 100%;
}

.contact-card-content {
    position: absolute;
    color: #fff;

    h3 {
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 44px; 
    }
    p {
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
    }

    .contact-form {
        display: flex;
        width: 738px;
        margin-top: 15px;
       
        .form-container {
            width: 100%;

            .input-name {
                width: 527px;
                height: 37px;
                border-radius: 24px;
                border: 1px solid #33890A;
                background: #F5F5F5;
            }
            .input-phone-number {
                width: 463px;
                height: 37px;
                border-radius: 24px;
                border: 1px solid #33890A;
                background: #F5F5F5;
            }
            .input-email {
                width: 701px;
                height: 37px;
                border-radius: 24px;
                border: 1px solid #33890A;
                background: #F5F5F5;
            }
            .input-address {
                width: 394px;
                height: 37px;
                border-radius: 24px;
                border: 1px solid #33890A;
                background: #F5F5F5;
            }
            .input-note {
                width: 738px;
                height: 80px;
                border-radius: 24px;
                border: 1px solid #33890A;
                background: #F5F5F5;
            }

            :global(button) {
                width: 100px;
                background-color: yellow;
            }

            .button {
                display: flex;
                justify-content: space-evenly;
            }
            
            .button-contact {
                border-radius: 24px;
                background: #E6EA37;
                width: 224px;
                height: 48px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                border: none;

                text-align: center;
                color: #33890A;
                font-size: 18px;
                font-weight: 400;
                line-height: 24px; 

            }
        }
        
    }
}