@import '@/styles/mixins.scss';

.intro-container {
  background-color: var(--bg-row-table-color);
  margin-top: 86px;
  height: 590px;
  width: 100%;
  .intro-main {
    display: flex;
    justify-content: center;
    position: relative;
    .intro-left {
      padding-left: 125px;
      width: 64%;
      display: block;
      margin: auto 0;

      .intro-title {
        font-size: 50px;
        top: 18%;
        color: var(--font-color-black-3);
        position: absolute;
        font-style: normal;
        font-weight: 700;
      }
      .intro-detail {
        margin-bottom: 50px;
        margin-top: 250px;
        h6 {
          font-size: 20px;
          color: var(--font-color-black-4);
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
      }

      .button {
        width: 250px;
        justify-content: center;
        padding: 28px 20px;
      }
    }

    .intro-right {
      margin-top: 3.5%;
      width: 50%;

      .content-image-right {
        width: 100%;
      }
    }
  }
}
//1199px
@media only screen and (max-width: $xl-max-width) {
  .intro-container {
    .intro-main {
      .intro-left {
        padding-left: 60px;
        width: 64%;
        display: block;
        margin: auto 0;

        .intro-title {
          font-size: 26px;
        }
        .intro-detail {
        margin-top: 100px;
          h6 {
            font-size: 14px;
            color: var(--font-color-black-4);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
      .intro-right {
        margin-top: 17%;
        width: 70%;
      }
    }
  }
}

//768px
@media (max-width: $sm-min-width) {
  .intro-container {
    .intro-main {
      .intro-left {
        padding-left: 60px;
        width: 64%;
        display: block;
        margin: auto 0;

        .intro-title {
          font-size: 20px;
        }
        .intro-detail {
          h6 {
            margin-top: 37%;
            margin-bottom: 50px;
            font-size: 16px;
            color: var(--font-color-black-4);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
      .intro-right {
        margin-top: 33%;
        width: 82%;
      }
    }
  }
}

//425px
@media (max-width: $xs-max-width-large) {
  .intro-container {
    height: 300px;
    .intro-main {
      .intro-left {
        padding-left: 24px;
        width: 50%;
        display: block;
        margin: auto 0;

        .intro-title {
          font-size: 16px;
          top: 6%;
        }
        .intro-detail {
          margin-top: 45px;
          h6 {
            margin-top: 45%;
            margin-bottom: 20px;
            font-size: 12px;
            color: var(--font-color-black-4);
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
          }
        }
        .button {
          width: 135px;
          justify-content: center;
          padding: 0px;
          margin-top: -25px;
          span {
            font-size: 14px;
          }
        }
      }
      .intro-right {
        margin-top: 33%;
        width: 47%;
      }
    }
  }
}
//375px
@media (max-width: $xs-max-width-medium) {
  .intro-container {
    .intro-main {
      .intro-left {
        padding-left: 20px;
        width: 50%;
        display: block;
        margin: auto 0;

        .intro-title {
          font-size: 12px;
          top: 6%;
        }
        .intro-detail {
          h6 {
            margin-top: 45%;
            margin-bottom: 20px;
            font-size: 11px;
            color: var(--font-color-black-4);
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
          }
        }
        .button {
          width: 135px;
          justify-content: center;
          padding: 0px;
          span {
            font-size: 14px;
          }
        }
      }
      .intro-right {
        margin-top: 40.5%;
        width: 49%;
      }
    }
  }
}
//325px
@media (max-width: $xs-max-width-small) {
  .intro-container {
    .intro-main {
      .intro-right {
        margin-top: 54.5%;
      }
    }
  }
}
